{% extends 'base.html' %} {% load static %} {% block title %}Profile{% endblock %} {% block content %}
<style>
    .friends-container {
      text-align: center;
      margin: 5%;
      width: 45%;
      padding-top: 2%;
      border-radius: 2%;
      color: black;
      font-family: "Bubblegum Sans", cursive;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      background-image: url('{% static "images/parch.jpg" %}');
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      padding: 20px;
    }

    .user_bio .user_role {
        padding-bottom: 5%;
    }

    .p-container {
      text-align: center;
      margin: 5%;
      width: 60%;
      padding-top: 2%;
      border-radius: 2%;
      background-image: url('{% static "images/parch.jpg" %}');
    }

    .container .mt-5 {
      position: absolute;
    }

    .profile-container {
      display: flex;
      justify-content: space-between;
    }

    .user_name, .friends-links a {
      color: black;
      font-family: "Bubblegum Sans", cursive;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      transition: color 0.3s ease; /* Add transition for smooth color change */
    }

    .user_name:hover, .friends-links a:hover {
      color: red; /* Change color to red on hover */
    }

    .d-flex {
      text-align: center;
    }
</style>
{% if user_profile.profile_pic %}
<div class="profile-container">
  <div class="p-container">
    <div class="container-mt-5">
      <h2 class="user_name">{{ user_profile.user.username }}'s Profile</h2>
    </div>
    {% endif %}

    <div class="container mt-5">
        {% if user_profile.profile_pic %}
        <img
        src="{{ user_profile.profile_pic.url }}"
        alt="profile pic"
        style="height: 350px; width: 350px; border-radius: 50%"
      />
        {% endif %}
      
    </div>
    <div class="user_role"><strong>{{ user_profile.role }}</strong></div>
    <div class="user_bio">
        <h3 class="user_name">Bio</h3>
        {{ user_profile.bio }}
    </div>
  </div>
  {% if user.is_authenticated and user == user_profile.user%}
  <div class="friends-container">
    <h2 class="user_name">{{ user_profile.user.username }}'s Friends</h2>
    <div class="d-flex">
  <div
    class="list-group list-group-flush friends-links"
    id="list-tab"
    role="tablist"
    style="border-right: 1px solid black"
  >
    <a
      href="#friend-request"
      class="list-group-item list-group-item-action active link text-decoration-none mt-2"
      style="background-color: grey"
      id="list-friend-request-list"
      data-bs-toggle="list"
      role="tab"
      aria-controls="list-friend-request"
      >Friend Requests</a
    >
    <a
      href="#all-friends"
      class="list-group-item list-group-item-action link text-decoration-none mt-2"
      style="background-color: grey"

      id="list-all-friends-list"
      data-bs-toggle="list"
      role="tab"
      aria-controls="list-all-friends"
      >All Friends</a
    >
    <a
      href="#suggested-friends"
      class="list-group-item list-group-item-action link text-decoration-none mt-2"
      style="background-color: grey"

      id="list-suggested-friends-list"
      data-bs-toggle="list"
      role="tab"
      aria-controls="list-suggested-friends"
      >Suggested Friends</a
    >
  </div>

  <div class="container-fluid overflow-auto" style="padding: 15%">
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="friend-request"
        role="tabpanel"
        aria-labelledby="list-friend-request-list"
      >
        <h4 class="user_name" style="padding-right: 30%;">Friend Requests</h4>
        <div class="row">
          {% for profile in profiles %}
          <div class="col-sm-12 col-md-5 col-lg-2" style="margin-right: 1%">
            <div
              class="card"
              style="
                width: 12rem;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                  rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                  rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
              "
            >
              <img
                src="{{ profile.profile_picture.url }}"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">{{ profile.user.username }}</h5>
                <p class="card-text"></p>
                <div class="row">
                  <a
                    href="{% url 'accept_friend_request' profile.user.id %}"
                    class="btn btn-primary mb-2"
                    >Accept</a
                  >
                  <a
                    href="{% url 'decline_friend_request' profile.user.id %}"
                    class="btn btn-secondary"
                    >Reject</a
                  >
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="all-friends"
        role="tabpanel"
        aria-labelledby="list-all-friends-list"
      >
        <h4 style="margin-bottom: 20px">All Friends</h4>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-2 g-lg-3">
          {% for friend in friends %}
          <div class="col" style="margin-right: 1%;">
            <div
              class="card h-100"
              style="
                width: 12rem;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
                  rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
                  rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
              "
            >
            <img src="{% if user.profile == friend.user_profile %} 
                {{ friend.friend_profile.profile_pic.url }} 
            {% else %}
                {{ friend.user_profile.profile_pic.url }} 
            {% endif %}" style="height: 190px; width: 190px;"/>
              <div class="card-body" style="background-color: grey;">
                <h5 class="card-title d-flex">
                  {% if user.profile == friend.user_profile %} 
                  {{ friend.friend_profile.user.username }} 
                  {% else %} 
                  {{ friend.user_profile.user.username }} 
                  {% endif %}
                  <div class="dropdown" style="margin-left: auto">
                    <button
                      class="btn dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      style="all: unset"
                    >
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                      style="background-color: transparent; border: none"
                    >
                      <li>
                        <a
                          href="{% url "send_message" friend.friend_profile.id %}"
                          class="btn btn-secondary mb-2"
                          style="width: 154px"
                        >
                          <i class="bi bi-chat-text"></i> Message</a
                        >
                      </li>
                      <li>
                        <a
                          href=""
                          class="btn btn-secondary mb-2"
                          style="width: 154px"
                        >
                          <i class="bi bi-person-slash"></i> Block</a
                        >
                      </li>
                      <li>
                        <a href="{% url "remove_friend" friend.id %}" class="btn btn-danger">
                          <i class="bi bi-person-dash"></i> Remove Friend</a
                        >
                      </li>
                    </ul>
                  </div>
                </h5>
                <p class="card-text"></p>
                <div class="row"></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="suggested-friends"
        role="tabpanel"
        aria-labelledby="list-suggested-friends-list"
      >
        <h4 style="margin-bottom: 20px">Suggested Friends</h4>
        <div class="row">{% for random in random %} {% endfor %}</div>
      </div>
    </div>
  </div>
</div>

  </div>
  {% endif %}
</div>

{% endblock %}
